<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html,body,h1,h2,h3,h4,h5 {font-family: monospace}
    body, html {
                height: 100%;
                font-family: monospace;
            }

    .bgimg {
        background-position: center;
        background-size: cover;
        background-image: url("../static/images/DNA_Tomato.png");
        min-height: 30%;
    }

    .menu {
        display: none;
    }

</style>
</head>
<body class="w3-light-grey">
  <!-- Links-->
  <div class="w3-top">
    <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
        <a href="/home" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
        <a href="/overview" class="w3-button w3-block w3-black">OVERVIEW</a>
    </div>
    <div class="w3-col s3">
        <a href="/cnn" class="w3-button w3-block w3-black">MODELS</a>
    </div>
    <div class="w3-col s3">
        <a href="/dashboard" class="w3-button w3-block w3-black">DASHBOARD</a>
    </div>
    </div>
  </div>
<!-- !PAGE CONTENT! -->
  <!-- Header with image -->
  <header class="bgimg w3-display-container w3-grayscale-min" id="home">
      <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
  </header>
  <header class="w3-container w3-black" style="padding-top:0px">
    <div class="w3-col s3">
      <a href="/dashboard/Garrett" class="w3-button w3-block w3-black">Garrett</a>
    </div>
    <div class="w3-col s3">
      <a href="/dashboard/Mohamed" class="w3-button w3-block w3-black">Mohamed</a>
    </div>
    <div class="w3-col s3">
      <a href="/dashboard/Amanuel" class="w3-button w3-block w3-black">Amanuel</a>
    </div>
    <div class="w3-col s3">
      <a href="/dashboard/John" class="w3-button w3-block w3-black">John</a>
    </div>
  </header>
  <br>

    <!-- Model Descriptions -->
<div class="w3-light-grey w3-display-container w3-col s12" style="padding-left:150px; padding-right:150px;">
  <header class="w3-container w3-black" style="padding-top:22px">
    <h5><b>Convolutional Neural Network</b></h5>
  </header>
  <br>
  <div class="w3-container">
    <h5><b>Project Summary</b></h5>
    <p>
        <b>Objective:</b> The objective of this project is to develop a machine learning model capable of classifying tomato leaf images into two categories: <i>Tomato_healthy</i> and <i>Tomato_unhealthy</i>. The goal is to assist in early detection of diseases in tomato plants, which is critical for ensuring crop health and yield.
    </p>
    <p>
        <b>Methodology:</b> 
        <ul>
            <li><b>Dataset Preparation:</b> The dataset was derived from the PlantVillage dataset, with images categorized by health status and various diseases. Tomato_healthy and Tomato_unhealthy categories were created for model training.</li>
            <li><b>Image Preprocessing:</b> Images were resized, normalized, and labels were binarized for the classification task.</li>
            <li><b>Model Development:</b> A Convolutional Neural Network (CNN) was built with convolutional layers, pooling layers, and dense layers for feature extraction and classification.</li>
            <li><b>Model Evaluation:</b> The model was evaluated using a confusion matrix, ROC curve, and precision-recall curve, showing high accuracy and strong class separation.</li>
            <li><b>Testing:</b> The trained model was tested on new images to predict health status, with high confidence in the results.</li>
        </ul>
    </p>
    <p>
        <b>Results:</b> The model achieved satisfactory accuracy, with the evaluation plots demonstrating balanced performance and a strong ability to distinguish between healthy and unhealthy leaves.
    </p>
    <p>
        <b>Conclusion:</b> The developed model can assist in early detection of tomato plant diseases, helping farmers and agronomists protect their crops effectively.
    </p>
  </div>
  <br>
  
  <!-- Slider for Evaluation Plots -->
  <div class="w3-content w3-display-container" style="max-width:800px; margin:auto">
    <h5><b>Evaluation Plots</b></h5>
    <div class="w3-display-container mySlides">
        <img src="../static/images/cnn/confusion_matrix.png" style="width:100%">
    </div>
    <div class="w3-display-container mySlides">
      <img src="../static/images/cnn/accuracy.png" style="width:100%">
    </div>
    <div class="w3-display-container mySlides">
        <img src="../static/images/cnn/roc_curve.png" style="width:100%">
    </div>
    <div class="w3-display-container mySlides">
        <img src="../static/images/cnn/precision_recall_curve.png" style="width:100%">
    </div>
    <div class="w3-display-container mySlides">
      <img src="../static/images/cnn/accuracy_and_loss.png" style="width:100%">
  </div>
  
    <!-- Slider Controls -->
    <button class="w3-button w3-black w3-display-left" onclick="plusSlides(-1)">&#10094;</button>
    <button class="w3-button w3-black w3-display-right" onclick="plusSlides(1)">&#10095;</button>
  </div>
  
  <script>
  var slideIndex = 1;
  showSlides(slideIndex);
  
  function plusSlides(n) {
  showSlides(slideIndex += n);
  }
  
  function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  slides[slideIndex-1].style.display = "block";
  }
  </script>
    <!-- Footer -->
<footer class="w3-container w3-black w3-center w3-margin-top">
  <p> <a href="https://tomato.com" target="_blank" class="w3-hover-opacity">Tomato</a></p>
  <p>&copy; 2024 All rights reserved.</p>
</footer>
  
  

  <!-- End page content -->

</body>
</html>
