<!DOCTYPE html>
<html>
<head>
    <title>CNN Model</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: monospace}
        body, html {
            height: 100%;
            font-family: monospace;
        }

        .bgimg {
            background-position: center;
            background-size: cover;
            background-image: url("./static/images/tomato_plant_1.jpg");
            min-height: 30%;
        }

        .menu {
            display: none;
        }

    </style>
    <script type="text/javascript">
        function myFunc(vars) {
            return vars
        }
        imgfile = myFunc({{imagesrc|tojson}})
        regval = myFunc({{regvalue|tojson}})
    </script>
</head>
<body class="w3-light-grey">
    <!-- Links-->
    <div class="w3-top">
        <div class="w3-row w3-padding w3-black">
        <div class="w3-col s3">
            <a href="/home" class="w3-button w3-block w3-black">HOME</a>
        </div>
        <div class="w3-col s3">
            <a href="/overview" class="w3-button w3-block w3-black">OVERVIEW</a>
        </div>
        <div class="w3-col s3">
            <a href="/cnn" class="w3-button w3-block w3-black">MODELS</a>
        </div>
        <div class="w3-col s3">
            <a href="/dashboard" class="w3-button w3-block w3-black">DASHBOARD</a>
        </div>
        </div>
    </div>

    <!-- Header -->
     <!-- Header with image -->
    <header class="bgimg w3-display-container w3-grayscale-min" id="home">
        <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
    </header>
    <header class="w3-container w3-black" style="padding-top:0px">
        <h5><b>Tomato Image Classification</b></h5>
    </header>
    <br>

    <!-- Image Upload -->
    <div class="w3-light-grey w3-display-container w3-col s12" style="padding-left:150px; padding-right:150px;">
        <h5><b>Upload another Image of a Tomato for Processing</b></h5>
        <form name="leafPic" id="uploadForm" action="" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" id="imageInput" accept="image/*" required>
        </form>
        <br>
    </div>

    <!-- Script -->
    <script>
        const imageInput = document.getElementById('imageInput');

        imageInput.onchange = event => {
            const [file] = imageInput.files;
            if (file) {
                document.forms["leafPic"].submit();
            }
        };
    </script>

    <!-- Header 2 -->
    <header class="w3-container w3-black" style="padding-top:22px">
        <h5><b>CLASSIFICATION RESULTS: </b></h5>
    </header>
    <br>
    <div class="w3-light-grey w3-display-container w3-col" style="padding-left:150px">
        <h5><b><span id="tomresult"></span></b></h5>
        <div id="result" style="padding-left: 0px">
            <p>THIS LEAF IS HEALTHY.</p>
        </div>
        <br>
    </div>
    <script>
        tomrslt = document.getElementById('tomresult')
        rslt = document.getElementById('result')
        fname = imgfile.replace("\\","/")
        tomrslt.innerHTML = "<img src=\"/static/images/ripe_tomato.png\" style=\"width:100px;height:100px;\"><img src=\"/static/images/Names/healthy.png\" style=\"height:100px;\">" 
        rslt.innerHTML = "<img src=\"/static/images/Leaf/" + fname + "\"><br>filename: " + fname + "<br> "
    
    </script>

</body>
</html>