<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html,body,h1,h2,h3,h4,h5 {font-family: monospace}
    body, html {
                height: 100%;
                font-family: monospace;
            }

    .bgimg {
        background-position: center;
        background-size: cover;
        background-image: url("./static/images/tomato_plant_1.jpg");
        min-height: 30%;
    }

    .menu {
        display: none;
    }

</style>
</head>
<body class="w3-light-grey">
  <!-- Links-->
  <div class="w3-top">
    <div class="w3-row w3-padding w3-black">
    <div class="w3-col s4">
        <a href="/overview" class="w3-button w3-block w3-black">OVERVIEW</a>
    </div>
    <div class="w3-col s4">
        <a href="/knn" class="w3-button w3-block w3-black">MODEL</a>
    </div>
    <div class="w3-col s4">
        <a href="/dashboard" class="w3-button w3-block w3-black">DASHBOARDS</a>
    </div>
    </div>
  </div>
<!-- !PAGE CONTENT! -->
  <!-- Header with image -->
  <header class="bgimg w3-display-container w3-grayscale-min" id="home">
      <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
  </header>
  <header class="w3-container w3-black" style="padding-top:0px">
    <div class="w3-col s3">
      <a href="/dashboard/Garrett" class="w3-button w3-block w3-black">Garrett</a>
    </div>
    <div class="w3-col s3">
      <a href="/dashboard/Mohamed" class="w3-button w3-block w3-black">Mohamed</a>
    </div>
    <div class="w3-col s3">
      <a href="/dashboard/Amanuel" class="w3-button w3-block w3-black">Amanuel</a>
    </div>
    <div class="w3-col s3">
      <a href="/dashboard/John" class="w3-button w3-block w3-black">John</a>
    </div>
  </header>
  <br>

    <!-- Model Descriptions -->
<div class="w3-light-grey w3-display-container w3-col s12" style="padding-left:150px; padding-right:150px;">
  <h1><b>Click on the person's name above to see their analysis page!</b></h1>

  <!-- End page content -->

</body>
</html>
