<!DOCTYPE html>
<html>
<head>
    <title>KNN Model</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html, body, h1, h2, h3, h4, h5 { font-family: monospace; }
    </style>
</head>
<body class="w3-light-grey">

    <!-- Header -->
    <header class="w3-container w3-black" style="padding-top:0;">
        <h5><b>Tomato Image Classification</b></h5>
    </header>
    <br>

    <!-- Image Upload -->
    <div class="w3-light-grey w3-display-container w3-col s12" style="padding: 0 150px;">
        <h5><b>Upload an Image of a Tomato for Processing</b></h5>
        <form id="uploadForm" action="/uploads" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" id="imageInput" accept="image/*" required>
            <br><br>
            <img id="preview" src="#" alt="Image preview" style="display:none; width:300px;">
            <br><br>
            <input type="submit" value="Upload Image" class="w3-button w3-black">
        </form>
        <br>
    </div>

    <!-- Script -->
    <script>
        document.getElementById('imageInput').onchange = function(event) {
            const file = event.target.files[0];
            if (file) {
                document.getElementById('preview').src = URL.createObjectURL(file);
                document.getElementById('preview').style.display = 'block';
            }
        };
    </script>

    <!-- Predictions -->
    <header class="w3-container w3-black" style="padding-top:22px;">
        <h5><b>Predictions</b></h5>
    </header>
    <br>
    <div class="w3-light-grey w3-display-container w3-col" style="padding-left:150px">
        <h5><b>Result</b></h5>
        <div id="result" style="padding-left:0;">
            <p>THIS LEAF IS NOT HEALTHY.</p>
            <img src="{{ url_for('static', filename='images/Leaf/' + imagesrc) }}" alt="Uploaded Image" style="width:300px;">
        </div>
        <br>
    </div>

</body>
</html>
