<!DOCTYPE html>
<html>
<head>
    <title>KNN Model</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: monospace}
    </style>
    <script>
        const queryString = window.location.search;
        console.log(queryString);
        const urlParams = new URLSearchParams(queryString);
        const leafimage = urlParams.get('imagesrc')
        console.log(leafimage);
        function myFunc(vars) {
            return vars
        }
    </script>
    <!--<script type="text/javascript" {{ url_for('static', filename='app.js')}}></script>-->
    <script type="text/javascript">
        myVar = myFunc({{imagesrc|tojson}})
    </script>
</head>
<body class="w3-light-grey">

    <!-- Header -->
    <header class="w3-container w3-black" style="padding-top:0px">
        <h5><b>Tomato Image Classification</b></h5>
    </header>
    <br>

    <!-- Image Upload -->
    <div class="w3-light-grey w3-display-container w3-col s12" style="padding-left:150px; padding-right:150px;">
        <h5><b>Upload an Image of a Tomato for Processing</b></h5>
        <form id="uploadForm" action="" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" id="imageInput" accept="image/*" required>
            <br><br>
            <img id="preview" src="#" alt="Image preview" style="display:none; width:300px;">
            <br><br>
            <input type="submit" value="Upload Image" class="w3-button w3-black">
        </form>
        <br>
    </div>

    <!-- Script -->
    <script>
        const imageInput = document.getElementById('imageInput');
        const preview = document.getElementById('preview');

        imageInput.onchange = event => {
            const [file] = imageInput.files;
            if (file) {
                preview.src = URL.createObjectURL(file);
                preview.style.display = 'block';
            }
        };
    </script>

    <!-- Header 2 -->
    <header class="w3-container w3-black" style="padding-top:22px">
        <h5><b>Predictions</b></h5>
    </header>
    <br>
    <div class="w3-light-grey w3-display-container w3-col" style="padding-left:150px">
        <h5><b>Result</b></h5>
        <div id="result" style="padding-left: 0px">
            <p>THIS LEAF IS NOT HEALTHY.</p>
        </div>
        <br>
    </div>
    <script>
        rslt = document.getElementById('result')
        fname = myVar.replace("\\","/")
        rslt.innerHTML = "<p>THIS LEAF IS NOT HEALTHY.</p> " + fname + "<br> <img src=\"uploads/test.JPG\">"
        //images = image;
        //alert(fname);
    </script>

</body>
</html>