<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html,body,h1,h2,h3,h4,h5 {font-family: monospace}
    body, html {
                height: 100%;
                font-family: monospace;
            }

    .bgimg {
        background-position: center;
        background-size: cover;
        background-image: url("../static/images/DNA_Tomato.png");
        min-height: 30%;
    }

    .menu {
        display: none;
    }

</style>
</head>
<body class="w3-light-grey">
  <!-- Links-->
  <div class="w3-top">
    <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
        <a href="/home" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
        <a href="/overview" class="w3-button w3-block w3-black">OVERVIEW</a>
    </div>
    <div class="w3-col s3">
        <a href="/cnn" class="w3-button w3-block w3-black">MODELS</a>
    </div>
    <div class="w3-col s3">
        <a href="/dashboard" class="w3-button w3-block w3-black">DASHBOARD</a>
    </div>
    </div>
  </div>
<!-- !PAGE CONTENT! -->
  <!-- Header with image -->
  <header class="bgimg w3-display-container w3-grayscale-min" id="home">
      <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
  </header>
  <header class="w3-container w3-black" style="padding-top:0px">
    <div class="w3-col s3">
      <a href="/dashboard/Garrett" class="w3-button w3-block w3-black">Garrett</a>
    </div>
    <div class="w3-col s3">
      <a href="/dashboard/Mohamed" class="w3-button w3-block w3-black">Mohamed</a>
    </div>
    <div class="w3-col s3">
      <a href="/dashboard/Amanuel" class="w3-button w3-block w3-black">Amanuel</a>
    </div>
    <div class="w3-col s3">
      <a href="/dashboard/John" class="w3-button w3-block w3-black">John</a>
    </div>
  </header>
  <br>

    <!-- Model Descriptions -->
<div class="w3-light-grey w3-display-container w3-col s12" style="padding-left:150px; padding-right:150px;">
     <h5>nn_Tomatodiseases model</h6>
      <p>The nn_Tomatodiseases model relies on Neuro Networks to help in classification of tomato disease dataset. The
        model used 119,211 PARAMS for training and prediction with 100 EPOCH. Initial EPOCH accuracy started at 67% and
        kept improving as more iterations were added.
        Overall the model shows strong performance with an accuracy of 97%. This means using this model can classify
        unhealthy from healthy plant tissue images.
        Tune  adjusting layers and activation were done to improve accuracy, however because of computation time, a higher
        order of tuning was not done. The few iterations tried gave an average accuracy of 97%.
        a review of loss across different EPOCHS showed a steady decline of loss from almost 62% to 10% by the time EPOCH
        100 was reached</p>

<!-- Accuracy for neuro network images-->
  <div class="w3-light-grey w3-display-container w3-col s6" style="padding-left:150px">
    <h5><b>TomatoDiseases_nn_accuracy</b></h5>
    <div id="Matrix" style="padding-left: 0px">


  <!-- Images for Neuro network -->
      <h6>Chart</h6>
      <img src='./Output/Neuro_Network_params.png' alt="Neuro network params used" style="width:100%; max-width:500px;">
      <br>
      <img src='./Output/TomatoDiseases_nn_accuracy.png' alt="Accuracy in Neuro network"
        style="width:100%; max-width:500px;">
      <br>
      <h6>Chart</h6>
      <img src='./Output/TomatoDiseases_nn_loss.png' alt="Loss in Neuro network" style="width:100%; max-width:500px;">
    </div>
    <br>
  </div>

  <!-- End page content -->

</body>
</html>
