<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: monospace}
</style>
</head>
<body class="w3-light-grey">

<!-- !PAGE CONTENT! -->

  <!-- Header 1 -->
  <header class="w3-container w3-black" style="padding-top:0px">
    <h5><b>logistic regression model</b></h5>
    </header>
    <br>

    <!-- Model Descriptions -->
<div class="w3-light-grey w3-display-container w3-col s12" style="padding-left:150px; padding-right:150px;">
  <h5><b>Model Descriptions</b></h5>
  <div id="Descriptions" style="padding-left: 0px;">
      <h6>All Tomato Images Model</h6>
      <p>The All Tomato Images Model demonstrates strong overall performance with an accuracy of 95%. It excels in identifying Unhealthy cases, with a precision of 96%, recall of 98%, and an F1-score of 97%. This represents the model is highly effective at correctly classifying Unhealthy instances. However, the model's performance lackluster for Healthy cases, where it had a lower precision of 81%, poor recall of 64%, and an F1-score of 72%. This disparity pushed a re-engineering of the model classes of Healthy vs. Unhealthy since there were significantly more Unhealthy samples than Healthy ones. While the model performs well overall, further refinement was needed to improve identification of Healthy cases.</p>
      <h6>Even Tomato Distribution Model</h6>
      <p>With Even Tomato Distribution Model, images were gathered with a focused effort to have an even distribution of healthy and unhealthy tomatoes. The scaler was also adjusted to StandardScaler with the goal to potentially improve overall performance. The results reflect significant improvements. The model attained an accuracy of 97%, correctly classifying 735 out of 749 Unhealthy cases and 727 out of 753 Healthy cases. This results in a high precision of 97% and recall of 98% for Unhealthy tomatoes, and a precision of 98% and recall of 97% for Healthy tomatoes. The balanced performance across both classes, with an F1-score of 97% for each class, represents that the model effectively handles tomato image classification, in both classes. The increased consistency and robust performance of the Even Tomato Distribution Model showcase the adjustments made led to a well-balanced and more effective model.</p>
  </div>
  <br>
</div>

<!-- Confusion Matrix Comparison -->
<div class="w3-light-grey w3-display-container w3-col s6" style="padding-left:150px">
  <h5><b>Confusion Matrix</b></h5>
  <div id="Matrix" style="padding-left: 0px">
      <!-- Images for Confusion Matrix -->
      <h6>All Tomato Images Model</h6>
      <img src='/../images/confusion_matrix_text.png' alt="All Tomato Images Model Confusion Matrix" style="width:100%; max-width:600px;">
      <br>
      <h6>Even Tomato Distribution Model</h6>
      <img src='/../images/even_confusion_matrix_text.png' alt="Even Tomato Distribution Model Confusion Matrix" style="width:100%; max-width:600px;">
  </div>
  <br>
</div>

<!-- Confusion Matrix Comparison -->
<div class="w3-light-grey w3-display-container w3-col s6" style="padding-left:150px">
  <h5><b>Confusion Matrix</b></h5>
  <div id="Matrix" style="padding-left: 0px">
      <!-- Images for Confusion Matrix -->
      <h6>All Tomato Images Model</h6>
      <img src='/../images/confusion_matrix_text.png' alt="All Tomato Images Model Confusion Matrix" style="width:100%; max-width:600px;">
      <br>
      <h6>Even Tomato Distribution Model</h6>
      <img src='/../images/even_confusion_matrix_text.png' alt="Even Tomato Distribution Model Confusion Matrix" style="width:100%; max-width:600px;">
  </div>
  <br>
</div>

<!-- Classification Report Comparison -->
<div class="w3-light-grey w3-display-container w3-col s12" style="padding-left:0; padding-right:0;">
    <h5 style="padding-left:150px; text-align:left;"><b>Classification Report</b></h5>
    <div id="Classification" class="w3-row" style="margin-left:0; margin-right:0;">
        <!-- Image for All Tomato Images Model -->
        <div class="w3-half" style="padding:10px;">
            <h6 style="text-align:left; padding-left:150px;">All Tomato Images Model</h6>
            <img src='/../images/classification_report.png' alt="All Tomato Images Model Classification Report" style="width:100%; max-width:600px;">
        </div>
        <!-- Image for Even Tomato Distribution Model -->
        <div class="w3-half" style="padding:10px;">
            <h6 style="text-align:left; padding-left:150px;">Even Tomato Distribution Model</h6>
            <img src='/../images/even_classification_report.png' alt="Even Tomato Distribution Model Classification Report" style="width:100%; max-width:600px;">
        </div>
    </div>
    <br>
</div>


  <!-- Header 2 -->
  <header class="w3-container w3-black" style="padding-top:22px">
    <h5><b>neural nets</b></h5>
  </header>
  <br>
    <div class="w3-light-grey w3-display-container w3-col" style="padding-left:150px">
        <h5><b>Accuracy Score</b></h5>
        <div id="Accuracy" style="padding-left: 0px">
            <p>Add Accuracy Score Here</p>
        </div>
    </div>

  <!-- End page content -->

</body>
</html>
