<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: monospace}
</style>
</head>
<body class="w3-light-grey">

<!-- !PAGE CONTENT! -->

  <!-- Header 1 -->
  <header class="w3-container w3-black" style="padding-top:0px">
    <h5><b>logistic regression model</b></h5>
    </header>
    <br>
    <div class="w3-light-grey w3-display-container w3-col s6" style="padding-left:150px">
        <h5><b>Confusion Matrix</b></h5>
        <div id="Matrix" style="padding-left: 0px">
            <p>Add confusion matrix here</p>
            <br>
        </div>
    </div>
    <div class="w3-light-grey w3-display-container w3-col s6" style="padding-left:150px">
        <h5><b>Classification Report</b></h5>
        <div id="Classification" style="padding-left: 0px;">
            <p> Add classification report here</p>
        </div>
        <br>
    </div>


  <!-- Header 2 -->
  <header class="w3-container w3-black" style="padding-top:22px">
    <h5><b>neural nets</b></h5>
  </header>
  <br>
    <div class="w3-light-grey w3-display-container w3-col" style="padding-left:150px">
        <h5><b>Accuracy Score</b></h5>
        <div id="Accuracy" style="padding-left: 0px">
            <p>Add Accuracy Score Here</p>
        </div>
    </div>

  <!-- End page content -->

</body>
</html>
